:root {
  --bg: #f5f7fa; /* Light grey-blue base */
  --card-bg: #fcfdff; /* Almost white, but with cool grey undertone */
  --text: #1a1f29;
  --text-secondary: #5a6374;
  --border: #dde3eb;
  --button: #3b82f6;
  --button-hover: #2563eb;
}
body {
  width: 360px;
  height: 580px;
  font-family: Arial, sans-serif;
  background-color: var(--bg);
  color: var(--text);
}

.cta {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#settingsBtn {
  background: var(--bg);
  border: none;
  border-radius: 100%;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  cursor: pointer;
  top: 15px;
  right: 15px;
  z-index: 200;
}

#settings-overlay {
  position: fixed;
  top: 40px;
  right: 30px;
  background: var(--bg);
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  padding: 1rem;
  width: 230px;
  display: none;
  z-index: 100;
}

.reading-levels {
  display: flex;
  justify-content: center;
  flex-direction: column;

  margin-top: 100px;
}
label {
  display: block;
  margin-bottom: 20px;
  font-size: 1rem;
  font-weight: 600;
}

.level-buttons {
  display: flex;
  gap: 0.5rem; /* space between buttons */
  justify-content: space-between;
}
.level-buttons button,
#generateBtn,
#apiKeyBtn {
  background-color: var(--button);
  border: 1px solid;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  font-weight: 400;
  text-align: center;
  color: white;
  padding: 0.75rem 1rem;
  cursor: pointer;
}
#apiKeyBtn {
  padding: 0.5rem;
}
#apiKeyField {
  line-height: 1.5rem;
}
button.active {
  background-color: var(--button-hover);
}

#extractBtn:disabled {
  background: #555;
  cursor: not-allowed;
}

.card-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  overflow-y: auto;
}
.card-list::-webkit-scrollbar {
  width: 6px;
}

.card-list::-webkit-scrollbar-track {
  background: transparent;
}

.card-list::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.card-list::-webkit-scrollbar-button {
  display: none;
}
.card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 240px;
  min-width: 150px;
  padding: 1rem;
  border-radius: 16px;
  background: var(--card-bg);
  margin-top: 2rem;
}

.card:hover {
  transform: translateY(-10px);
  border-color: var(--text);
  box-shadow: 0 0 25px var(--button-hover);
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.card h2 {
  font-size: 16px;
  margin: 10px;
  word-break: break-word;

  font-weight: 600;
}
.card p {
  font-size: 14px;
  margin: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

#status {
  color: var(--text);
  text-align: center;
}
